section {
    padding: 40px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 20px;
}

.section-title h2 {
    font-size: 32px;
    color: #5c768d;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact .info-box {
    width: 100%;
    padding: 20px 0 30px 0;
    text-align: center;
    color: #444;
    box-shadow: 0px 0px 30px rgb(214, 215, 216, 0.5);
    margin-bottom: 30px;
}

.contact .info-box i {
    font-size: 32px;
    color: #428bca;
    border: 2px dotted #9eccf4;
    border-radius: 50%;
    padding: 8px;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 600;
    margin: 10px 0;
}

/* Start form section */

.form-group {
    margin-bottom: 16px;
}

.contact .contact-us input {
    padding: 10px 15px;
}

.contact .contact-us input,
.contact .contact-us textarea {
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    border-color: #ced4da;
    font-size: 16px;
}

.contact .contact-us [type=submit] {
    background: #428bca;
    border: none;
    padding: 10px 24px;
    color: #ffffff;
    transition: 0.4s;
}

.contact .contact-us [type=submit]:hover {
    background: #6aa3d5;
}

.contact .contact-us {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
}

/* Add negative margins to the specific row to offset the column padding */
.custom-row {
    margin-right: -5px;
    margin-left: -5px;
}

/* Add padding to the columns inside the specific row for consistent spacing */
.custom-row > * {
    padding-right: 5px;
    padding-left: 5px;
}


/* End form section */

.minimum-padding { padding: 60px 0;}
.gallery { background: #96a8c2;}

.about .about-images img {border-radius: 10px;}
.gallery .gallery-images .sec1 img { width: 356px; height: 350px; border: 2px solid #ffffff;}
.gallery .gallery-images .sec2 img { width: 261px; height: 167px; border: 2px solid #ffffff;}
.gallery .gallery-images .sec3 img { width: 451px; height: 197px; border: 2px solid #ffffff;}
.gallery .gallery-images .sec4 img { width: 213px; height: 136px; border: 2px solid #ffffff;}

@media only screen and (max-width : 991px) {
.gallery .gallery-images .sec1 img { width: 100%; height: auto; margin-bottom: 15px;}
.gallery .gallery-images .sec2 img { width: 100%; height: auto; }
.gallery .gallery-images .sec3 img { width: 100%; height: auto;}
.gallery .gallery-images .sec4 img { width: 100%; height: auto;}
.mobile-res {margin-bottom: 15px;}
.minimum-padding { padding: 30px 0;}
}
